 #                              ==>Python Day_3<==

#                        ==>Python Recursion<==

In [9]:
def factorial(x):
#*****This is a recursive function to find the factorial of an integer****

    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))


num = 3
print("The factorial of", num, "is", factorial(num))

The factorial of 3 is 6

#                        ==> Type conversion in Python<==
            -->implicit Type Conversion
            -->Explicit Types Conversion

#      ==>implicit Type Conversion<==

In [2]:
x=10
print("x is of Type:",type(x))
y=10.6
print("Y is of Type:",type(y))
z=x+y
print("Sum:",z)
print("Z is of type:",type(z))

x is of Type: <class 'int'>
Y is of Type: <class 'float'>
Sum: 20.6
Z is of type: <class 'float'>

In [3]:
x=10
print("x is of Type:",type(x))
y=10.6
print("Y is of Type:",type(y))
z=int(x+y)
print("Sum:",z)
print("Z is of type:",type(z))

x is of Type: <class 'int'>
Y is of Type: <class 'float'>
Sum: 20
Z is of type: <class 'int'>

#               ==>Explicit Type Conversion in Python<==

In [6]:
s="100010"  #string
#printing string converting to int base 2
c=int(s,2)
print("After Converting to Integer base 2:",end="")
print(c)
#printing string Converting to Float
e=float(s)
print("After Converting to float:",end="")
print(e)

After Converting to Integer base 2:34
After Converting to float:100010.0

In [11]:
##printing string converting to int base 8
c=int(s,8)
print("After Converting to Integer base 2:",end=" OCtal==>")
print(c)

After Converting to Integer base 2: OCtal==>32776

In [12]:
#printing string converting to int base 16
c=int(s,16)
print("After Converting to Integer base 2:",end="Hexadecimal==>")
print(c)

After Converting to Integer base 2:Hexadecimal==>1048592

#    ==> LIst, Tuple, Set and Dictionary in Python<==

In [22]:
#List
l=[]
#Adding Element into List
l.append(5)
l.append(10)
l.append(15)
l.append(20)
l.append(25)
l.append(30)
print("Adding 5 and 10 in List:",l)
#Popping Elements from List
l.pop()
print("Popped one elements from list:",l)
print()

Adding 5 and 10 in List: [5, 10, 15, 20, 25, 30]
Popped one elements from list: [5, 10, 15, 20, 25]

In [37]:
#set
s=set()
#Adding Elements into set
s.add(5)
s.add(10)
s.add(15)
s.add(20)
s.add(25)
s.add(30)
s.add(12)
s.add("Orange")
s.add("Apple")
print("Adding 5 and 10 into set",s)
#Removing Element From Set
s.remove(10)
print("Removing 5 from set:",s)
print()

Adding 5 and 10 into set {'Orange', 5, 10, 12, 15, 20, 25, 'Apple', 30}
Removing 5 from set: {'Orange', 5, 12, 15, 20, 25, 'Apple', 30}

In [36]:
type(s)

set

In [41]:
#Tuple
t=tuple(l)
print("Tuple",t)
# Tuples are Immutable

Tuple (5, 10, 15, 20, 25)
Dictionary: {5: 'Five', 10: 'Ten'}
Dictionary: {5: 'Five'}

In [45]:
t

(5, 10, 15, 20, 25)

In [47]:
t.append(35) #==># Tuples are Immutable ==>Tuple can no be Change

AttributeError: 'tuple' object has no attribute 'append'

In [48]:
t.add(43857) #==># Tuples are Immutable ==>Tuple can no be Change

AttributeError: 'tuple' object has no attribute 'add'

In [51]:
#Dictionary
d={}
# Adding the key value pair
d[5]="Five"
d[10]="Ten"
d[10]="Ten1"
d[11]="Ten"
print("Dictionary:",d)
#Removing key-value pair
del d[10]
print("Dictionary:",d)
#--> Value can be repeated but key can not be repeated in Python Dictionary

Dictionary: {5: 'Five', 10: 'Ten1', 11: 'Ten'}
Dictionary: {5: 'Five', 11: 'Ten'}

#       ==> List and Dictionary Comprehension<==
            --> Powerful substitute to for loop
            -->Faster than traditional for loops

In [58]:
#Creating using list comprehension
myDict={x:x**2 for x in[1,2,3,4,5]}
print(myDict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [59]:
#comprehension using if
newdict={x:x**3 for x in range(10) if x**3%4==0}
print(newdict)

{0: 0, 2: 8, 4: 64, 6: 216, 8: 512}

In [60]:
#comprehension using if
newdict={x:x**3 for x in range(10) if x%4==0}
print(newdict)

{0: 0, 4: 64, 8: 512}

In [57]:
square_dict=dict()
for num in range(1,11):
    square_dict[num]=num*num
    print(square_dict)

{1: 1}
{1: 1, 2: 4}
{1: 1, 2: 4, 3: 9}
{1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [56]:
square_dict=dict()
for num in range(1,11):
    square_dict[num]=num*num
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [53]:
#same As
square_dict={num:num*num for num in range(1,11)}
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [62]:
# Item price in dollars
old_price={'Milk':1.02,'Coffee':2.5,'Bread':2.5}
dollar_to_pound=0.76
new_price={item:value*dollar_to_pound for(item,value) in old_price.items()}
print(new_price)

{'Milk': 0.7752, 'Coffee': 1.9, 'Bread': 1.9}

In [63]:
##
original_dict={'Jack':38,'Michael':48,'Guido':57,'John':33}
even_dict={k:v for (k,v) in original_dict.items()if v%2==0}
print(even_dict)

{'Jack': 38, 'Michael': 48}

In [69]:
##
original_dict={'Jack':38,'Michael':48,'Guido':57,'John':33}
new_dict={i:v for (i,v) in original_dict.items() if v%2!=0 if v<40}
print(new_dict)

{'John': 33}

#      ==>Create a list of Dictionary<==

In [86]:
languages=[
    {
        "python":"Machine Learning",
        "R":"React Native"
    },
    {
        "Python":"Web Development",
        "Java Script":"Web Developent",
        "HTML":"Web Development"
    },
    {
        "C++":"Game Devlopment",
        "Python":"Game Development"
    },
    {
        "Java":"App Development",
        "Kotlin":"App Development"
    }
]

# Here we are printing the keys of the dictionary
# by using kist comprehension and each key will be
#printed in a a new line due to the presence of "sep=""\n""
# it will add a new line
print(*[key for i in languages for key in i.keys()],sep=" \n")
print(*[value for i in languages for value in i.values()],sep=" \n")

python
R
Python
Java Script
HTML
C++
Python
Java
Kotlin
Machine Learning
React Native
Web Development
Web Developent
Web Development
Game Devlopment
Game Development
App Development
App Development

In [83]:
print(*[key for i in languages for key in i.keys()],sep=" ")

python R Python Java Script HTML C++ Python Java Kotlin

In [84]:
print(*[key for i in languages for key in i.keys()])

python R Python Java Script HTML C++ Python Java Kotlin

In [79]:
print([key for i in languages for key in i.keys()],sep=" \n")

['python', 'R', 'Python', 'Java Script', 'HTML', 'C++', 'Python', 'Java', 'Kotlin']